html {
    background-color: #EEF0F2;
    color: #14110F;
    font-family: sans-serif;
    height: 100%;
}

html.dark {
  background-color: #14110F;
  color: #EEF0F2;
}

body {
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

* {
    box-sizing: border-box;
}

h1, h2, h3 {
  font-size: 1.125rem;
  margin: 1.5rem 0;
}

.title {
  margin: 0.67em 0;
}

nav ul {
  padding-left: 0;
  list-style: none;
}

/* --------------------------------------
  Header
-------------------------------------- */

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-family: "Piazzolla", "Times New Roman", "YuMincho",
    "Hiragino Mincho ProN", "Yu Mincho", "MS PMincho", serif;
  font-weight: 700;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo-title {
  margin-left: 5px;
}

.header-nav {
  display: flex;
}

.header-nav-menu {
  display: flex;
}

.header-nav-menu-item {
  margin-right: 5px;
}
  
.header-nav-menu-item > a:hover,
.header-nav-menu-item > a:focus {
  text-decoration: underline;
}

  
  @media screen and (min-width: 64em) {

    .header-logo-img {
      width: 32px;
      height: 32px;
    }

    .header-logo-title {
      font-size: 1.5rem;
      margin-left: 15px;
    }

    .header-nav-menu-item > a {
      font-size: 1.5rem;
    }

    .header-nav-menu-item {
      margin-right: 15px;
    }
  }

/* タグのスタイル　*/
a {
  color: inherit;
  text-decoration: none;
}

main a:hover{
    text-decoration: underline;
}

.fa-tags {
    color: #6A706E;
    padding-right: 0.3rem;
}

.tags {
    display: flex;
    flex-wrap: wrap;
}

.tag a {
  color: #6A706E;
}

.tag {
    margin: 0.25em;
    color: #6A706E;
    padding: 0.25rem 0.25rem;
    font-size: 0.75rem;
}

.article-count {
  padding-left: 5px;
  color: #232ED1;
}

/* ブログ記事のスタイル　*/
article {
  border-bottom: 1px solid #6A706E;
  padding: 1rem 0rem 1.5rem;
}

pre {
  padding: 0.5em;
}

article:last-child {
  border-bottom: 0;
}

.main {
  flex: 1;
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination-link {
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.active {
  border: 1px solid #14110F;
  border-radius: 50%;
}
.dark .active{
  border: 1px solid #EEF0F2;
}

.footer {
  text-align: center;
  padding: .8rem;
}

.footer small {
  font-size: 0.875rem;
}