---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "About Page";

const identity = {
    firstName: "和穂",
    country: "日本",
    occupation: "学生",
    interest: ["哲学", "数学", "Youtube"],
};

const skills = [
    "HTML",
    "CSS",
    "JavaScript",
    "React",
    "Astro",
    "ドキュメントの執筆",
];
---

<BaseLayout pageTitle={pageTitle}>
    <article>
        <h1>{pageTitle}</h1>
        <p>
            学習ログのために作ったサイトです。
        </p>
        <p>興味のあるもの</p>
        <ul>
            {identity.interest.map((item) => <li>{item}</li>)}
        </ul>
    </article>
</BaseLayout>

<style>
    ul {
        padding-left: 20px;
    }
</style>
