---
import Navigation from './Navigation.astro';
import ThemeIcon from './ThemeIcon.astro';
---


<header class="header">
    <a href="/">
        <div class="header-logo">
            <img class="header-logo-img" src="/favicon.svg" width="16" height="16" alt="site logo" decoding="async">
            <span class="header-logo-title">Self-Reference</span>
        </div>
    </a>
    <nav class="header-nav">
        <Navigation />
        <ThemeIcon />
    </nav>
</header>